* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.main {
  background-image: url("assets/image.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  position: absolute;
  opacity: 0.69;
  top: 0;
  background: black;
}

nav {
  max-width: 70%;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}

nav img {
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
  text-align: center;
}

.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
}

.separation {
  height: 8px;
  background-color: #222;
}

.btn {
  padding: 6px 20px;
  font-weight: 700;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.btn-red-sm {
  background-color: red;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}


.btn:hover,
.btn-red:hover,
.btn-red-sm:hover {
  font-size: 90%;        
  opacity: 0.85;         
  transform: scale(0.97);
}


.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}


.main input {
  padding: 10px 14px;
  min-width: 250px;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(246, 238, 238, 0.116);
  border: 1px solid rgba(222, 208, 208, 0.856);
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.main input::placeholder {
  color: #ddd;
}

.main input:hover {
  font-size: 14px;
  background-color: rgba(246, 238, 238, 0.105);
  border-color: #fff;
}

.first {
  display: flex;
  align-items: center;       /* vertical centering */
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.text {
  flex: 1;
  text-align: left;
}

.secimg {
  position: relative;
  width: 400px;             
  max-width: 40vw;
  aspect-ratio: 16/9;       
}

.secimg img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.secimg video {
  position: absolute;
    top: 40px;
    left: 72px;
    width: 56%;
    height: 59%;
  object-fit: cover;         
  z-index: 2;
  border-radius: 5px;   
}
